@charset "UTF-8";

body{
    font: normal normal 1em Arial, sans-serif
}

a{
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: darkred;
}

a:hover{
    color: black;
    text-decoration: underline;
}

a:active{
    color: blueviolet;
}

a::before{ 
    content: '>' ;
    text-decoration: none;
}