@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/*media queries
@media (max-width: 450px) {
    h1{
        font-size: 30vw;
    }
    p{
        font-size: 30vw;
    }
}
*/
/*configs globais*/
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --passion: 'Passion One', cursive, sans-serif; 
    --russo: 'Sriracha', cursive, sans-serif; 
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

/*aba de título*/
header{
    background-color: black;
    color: white;
    text-align: center;
}
        header > h1{
            padding-top: 40px;
            font-variant: small-caps;
            font-family: var(--passion);
            font-size: 10vh; /*4em anteriormente*/
        }

        header > p{
            padding-bottom: 40px;
        }

   header a, footer a{
        color: white;
        text-decoration: none;
        font-weight: bolder;
    }

        header a:hover , footer a:hover{
            text-decoration: underline;
            }

/*seções gerais*/

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
    font-family: var(--russo);
    font-size: 3.5vw;
}

    /*seções sem imagem*/
    section.normal{
        background-color: white;
        color: black;
    }

    /*seções com imagem*/
    section.image{
        display: inline-block;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.281);
        color: white;
    }
        section.image > p{
            width: 400px;
            background-color: rgba(0, 0, 0, 0.452);
        }

/*Rodapé*/
footer{
    font-size: 0.8em;
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
    }
    
